# 데이터 불러오기

- 2022년 주유소들의 일자별 가격 데이터
- https://www.opinet.co.kr/user/opdown/opDownload.do

In [6]:
import pandas as pd
import numpy as np

In [13]:
# 상반기, 하반기 주유소 가격 데이터 조회
h1 = pd.read_csv('data/2022년_서울_상반기_일별_가격.csv')
h2 = pd.read_csv('data/2022년_서울_하반기_일별_가격.csv')

h1,h2

(             번호      지역                  상호                    주소        기간  \
 0      A0006039  서울 강남구     (유)동하석유 힐탑셀프주유소        서울 강남구 논현로 640  20220101
 1      A0006039  서울 강남구     (유)동하석유 힐탑셀프주유소        서울 강남구 논현로 640  20220102
 2      A0006039  서울 강남구     (유)동하석유 힐탑셀프주유소        서울 강남구 논현로 640  20220103
 3      A0006039  서울 강남구     (유)동하석유 힐탑셀프주유소        서울 강남구 논현로 640  20220104
 4      A0006039  서울 강남구     (유)동하석유 힐탑셀프주유소        서울 강남구 논현로 640  20220105
 ...         ...     ...                 ...                   ...       ...
 82684  A0009197  서울 중랑구  현대오일뱅크㈜직영 중랑교셀프주유소  서울 중랑구 망우로 229 (중화동)  20220507
 82685  A0009197  서울 중랑구  현대오일뱅크㈜직영 중랑교셀프주유소  서울 중랑구 망우로 229 (중화동)  20220508
 82686  A0009197  서울 중랑구  현대오일뱅크㈜직영 중랑교셀프주유소  서울 중랑구 망우로 229 (중화동)  20220509
 82687  A0009197  서울 중랑구  현대오일뱅크㈜직영 중랑교셀프주유소  서울 중랑구 망우로 229 (중화동)  20220510
 82688  A0009197  서울 중랑구  현대오일뱅크㈜직영 중랑교셀프주유소  서울 중랑구 망우로 229 (중화동)  20220511

            상표 셀프여부  고급휘발유   휘발유    경유  실내등유
 0       SK에너지   셀프   1887  1737  1587     0
 1       SK에너지   셀프   1887  1737  1587     0
 2       SK에너지   셀프   1887  1737  1587     0
 3       SK에너지   셀프   1887  1737  1587     0
 4       SK에너지   셀프   1887  1737  1587     0
 ...       ...  ...    ...   ...   ...   ...
 82684  현대오일뱅크   셀프   2152  1910  1841     0
 82685  현대오일뱅크   셀프   2152  1910  1841     0
 82686  현대오일뱅크   셀프   2152  1910  1841     0
 82687  현대오일뱅크   셀프   2152  1910  1841     0
 82688  현대오일뱅크   셀프   2152  1910  1841     0

 [82689 rows x 11 columns],
              번호      지역               상호                       주소        기간  \
 0      A0006039  서울 강남구  (유)동하석유 힐탑셀프주유소           서울 강남구 논현로 640  20220701
 1      A0006039  서울 강남구  (유)동하석유 힐탑셀프주유소           서울 강남구 논현로 640  20220702
 2      A0006039  서울 강남구  (유)동하석유 힐탑셀프주유소           서울 강남구 논현로 640  20220703
 3      A0006039  서울 강남구  (유)동하석유 힐탑셀프주유소           서울 강남구 논현로 640  20220704
 4      A0006039  서울 강남구  (유)동하석유 힐탑셀프주유소           서울 강남구 논현로 640  20220705
 ...         ...     ...              ...                      ...       ...
 81788  A0009138  서울 중랑구            우림주유소  서울 중랑구 용마산로 487 (망우제3동)  20221227
 81789  A0009138  서울 중랑구            우림주유소  서울 중랑구 용마산로 487 (망우제3동)  20221228
 81790  A0009138  서울 중랑구            우림주유소  서울 중랑구 용마산로 487 (망우제3동)  20221229
 81791  A0009138  서울 중랑구            우림주유소  서울 중랑구 용마산로 487 (망우제3동)  20221230
 81792  A0009138  서울 중랑구            우림주유소  서울 중랑구 용마산로 487 (망우제3동)  20221231

           상표 셀프여부  고급휘발유   휘발유    경유  실내등유
 0      SK에너지   셀프   2487  2287  2297     0
 1      SK에너지   셀프   2447  2247  2277     0
 2      SK에너지   셀프   2447  2247  2277     0
 3      SK에너지   셀프   2447  2247  2277     0
 4      SK에너지   셀프   2447  2247  2277     0
 ...      ...  ...    ...   ...   ...   ...
 81788  GS칼텍스   셀프      0  1525  1745     0
 81789  GS칼텍스   셀프      0  1525  1720     0
 81790  GS칼텍스   셀프      0  1525  1720     0
 81791  GS칼텍스   셀프      0  1515  1715     0
 81792  GS칼텍스   셀프      0  1515  1715     0

 [81793 rows x 11 columns])

In [12]:
# 상반기, 하반기 DataFrame 합치기
h1.join(h2, rsuffix="_2")

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,...,지역_2,상호_2,주소_2,기간_2,상표_2,셀프여부_2,고급휘발유_2,휘발유_2,경유_2,실내등유_2
0,A0006039,서울 강남구,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,20220101,SK에너지,셀프,1887,1737,1587,...,서울 강남구,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,20220701.0,SK에너지,셀프,2487.0,2287.0,2297.0,0.0
1,A0006039,서울 강남구,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,20220102,SK에너지,셀프,1887,1737,1587,...,서울 강남구,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,20220702.0,SK에너지,셀프,2447.0,2247.0,2277.0,0.0
2,A0006039,서울 강남구,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,20220103,SK에너지,셀프,1887,1737,1587,...,서울 강남구,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,20220703.0,SK에너지,셀프,2447.0,2247.0,2277.0,0.0
3,A0006039,서울 강남구,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,20220104,SK에너지,셀프,1887,1737,1587,...,서울 강남구,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,20220704.0,SK에너지,셀프,2447.0,2247.0,2277.0,0.0
4,A0006039,서울 강남구,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,20220105,SK에너지,셀프,1887,1737,1587,...,서울 강남구,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,20220705.0,SK에너지,셀프,2447.0,2247.0,2277.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82684,A0009197,서울 중랑구,현대오일뱅크㈜직영 중랑교셀프주유소,서울 중랑구 망우로 229 (중화동),20220507,현대오일뱅크,셀프,2152,1910,1841,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82685,A0009197,서울 중랑구,현대오일뱅크㈜직영 중랑교셀프주유소,서울 중랑구 망우로 229 (중화동),20220508,현대오일뱅크,셀프,2152,1910,1841,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82686,A0009197,서울 중랑구,현대오일뱅크㈜직영 중랑교셀프주유소,서울 중랑구 망우로 229 (중화동),20220509,현대오일뱅크,셀프,2152,1910,1841,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82687,A0009197,서울 중랑구,현대오일뱅크㈜직영 중랑교셀프주유소,서울 중랑구 망우로 229 (중화동),20220510,현대오일뱅크,셀프,2152,1910,1841,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82688,A0009197,서울 중랑구,현대오일뱅크㈜직영 중랑교셀프주유소,서울 중랑구 망우로 229 (중화동),20220511,현대오일뱅크,셀프,2152,1910,1841,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# DataFrame 기본 정보 조회
h1.info()
h2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82689 entries, 0 to 82688
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      82689 non-null  object
 1   지역      82689 non-null  object
 2   상호      82689 non-null  object
 3   주소      82689 non-null  object
 4   기간      82689 non-null  int64
 5   상표      82689 non-null  object
 6   셀프여부    82689 non-null  object
 7   고급휘발유   82689 non-null  int64
 8   휘발유     82689 non-null  int64
 9   경유      82689 non-null  int64
 10  실내등유    82689 non-null  int64
dtypes: int64(5), object(6)
memory usage: 6.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81793 entries, 0 to 81792
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      81793 non-null  object
 1   지역      81793 non-null  object
 2   상호      81793 non-null  object
 3   주소      81793 non-null  object
 4   기간      81793 non-null  int64
 5   상표      81793 non-null  object
 6   셀프여부    81793 non-null  object
 7   고급휘발유   81793 non-null  int64
 8   휘발유     81793 non-null  int64
 9   경유      81793 non-null  int64
 10  실내등유    81793 non-null  int64
dtypes: int64(5), object(6)
memory usage: 6.9+ MB

In [21]:
# 상표 컬럼의 고유값 조회
h1['상표'].describe()

count     82689
unique        7
top       SK에너지
freq      24204
Name: 상표, dtype: object

In [16]:
# 지역 컬럼의 고유값 조회
h1['지역'].describe()

count      82689
unique        25
top       서울 강남구
freq        6088
Name: 지역, dtype: object

> ### str accessor
> - `Series.str.String메소드()`
> - 문자열 타입 Series에 String 메소드들을 사용하여 일괄처리 할 수 있도록 한다.
> - str accessor 메소드 : https://pandas.pydata.org/pandas-docs/stable/reference/series.html#api-series-str

> ### datetime으로 변환
> - `pd.to_datetime(변환할 Series, format="날짜형식")`
> - x 또는 y 축이 날짜 일 경우 datetime 타입으로 처리하는 것이 좋다.
> - format: 년월일의 형식을 strftime 형식문자열로 지정한다. 
>      - [strftime 형식](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes)  
> - datetime을 변환하면 날짜만의 기능을 다룰 수 있다.
>     - dt accessor를 이용해 datetime의 속성값들을(년, 월, 일 등) 추출할 수 있다.
>     - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html

In [ ]:
# 지역 컬럼의 값을 이용하여 "구" 컬럼 생성 (지역에서 구만 추출해서 파생변수컬럼 생성해서 구별로로 집계를 할 수있도록 한다.)
h1['구'] = h1['지역'].str.removeprefix('서울')

h1

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유,구
0,A0006039,서울 강남구,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,20220101,SK에너지,셀프,1887,1737,1587,0,강남구
1,A0006039,서울 강남구,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,20220102,SK에너지,셀프,1887,1737,1587,0,강남구
2,A0006039,서울 강남구,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,20220103,SK에너지,셀프,1887,1737,1587,0,강남구
3,A0006039,서울 강남구,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,20220104,SK에너지,셀프,1887,1737,1587,0,강남구
4,A0006039,서울 강남구,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,20220105,SK에너지,셀프,1887,1737,1587,0,강남구
...,...,...,...,...,...,...,...,...,...,...,...,...
82684,A0009197,서울 중랑구,현대오일뱅크㈜직영 중랑교셀프주유소,서울 중랑구 망우로 229 (중화동),20220507,현대오일뱅크,셀프,2152,1910,1841,0,중랑구
82685,A0009197,서울 중랑구,현대오일뱅크㈜직영 중랑교셀프주유소,서울 중랑구 망우로 229 (중화동),20220508,현대오일뱅크,셀프,2152,1910,1841,0,중랑구
82686,A0009197,서울 중랑구,현대오일뱅크㈜직영 중랑교셀프주유소,서울 중랑구 망우로 229 (중화동),20220509,현대오일뱅크,셀프,2152,1910,1841,0,중랑구
82687,A0009197,서울 중랑구,현대오일뱅크㈜직영 중랑교셀프주유소,서울 중랑구 망우로 229 (중화동),20220510,현대오일뱅크,셀프,2152,1910,1841,0,중랑구
82688,A0009197,서울 중랑구,현대오일뱅크㈜직영 중랑교셀프주유소,서울 중랑구 망우로 229 (중화동),20220511,현대오일뱅크,셀프,2152,1910,1841,0,중랑구

In [55]:
# 기간 컬럼을 datetime 타입으로 변경한다.

pd.to_datetime(h1['기간'] ,format="%Y%m%d")

0       2022-01-01
1       2022-01-02
2       2022-01-03
3       2022-01-04
4       2022-01-05
           ...
82684   2022-05-07
82685   2022-05-08
82686   2022-05-09
82687   2022-05-10
82688   2022-05-11
Name: 기간, Length: 82689, dtype: datetime64[ns]

In [ ]:
# 기간 컬럼을 이용해 "월", "일", "요일" 컬럼 생성 (dt accessor 이용) (월, 일, 요일 별로 집계할 수있도록 한다.)

In [ ]:
# 요일 - 0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일 로 변경

In [ ]:
# 휘발유 가격이 가장 비싼 5개 행 조회

In [ ]:
# 휘발유 가격이 가장 저렴한 5개 행 조회 (단 0원인 주유소 제외)

In [ ]:
# 고급휘발유 가격이 가장 비싼 5개 행 조회

In [ ]:
# 고급휘발유 가격이 가장 저렴한 5개 행 조회 (단 0원인 주유소 제외)

In [ ]:
# 경유 가격이 가장 비싼 5개 행 조회

In [ ]:
# 경유 가격이 가장 저렴한 5개 행 조회 (단 0원인 주유소 제외)

In [ ]:
# 상표별 휘발유 평균가격 조회

In [ ]:
# 상표별 휘발유 평균가격 시각화

In [ ]:
# 셀프주유소와 일반주유소 개수 확인

In [ ]:
# 셀프 여부에 따른 휘발유 평균 가격 비교

In [ ]:
# 상표별 일반/셀프 주유소의 휘발유 가격 평균 비교

In [ ]:
# 상표별 일반/셀프 주유소의 휘발유 가격 평균 비교 시각화

In [ ]:
# 상표별 휘발유 가격의 분포를 boxplot으로 시각화

In [ ]:
# 상표별 일반/셀프 주유소의 휘발유 가격에 대한 분포 확인 - boxplot으로 시각화

In [ ]:
# 구별 휘발유 가격의 평균

In [ ]:
# 평균 가격이 가장 높은 구의 상표별 휘발유 평균가격

In [ ]:
# 월 평균 휘발유 가격

In [ ]:
# 각 구의 월별 평균 휘발유 가격

In [ ]:
# 각 구의 월별 평균가격의 변화추이 시각화

In [ ]:
# 가장 휘발유가격이 비싼 주유소 상위 5 - (같은 주유소가 여러개 나오므로 가장 비싼 가격을 기준으로 집계)

In [ ]:
# 가장 휘발유가격이 저렴한 주유소 상위 5 - (같은 주유소가 여러개 나오므로 가장 비싼 가격을 기준으로 집계)

In [ ]:
# 휘발유 비싼 주유소의 상위 5개의 상호, 주소, 상표, 셀프여부,  조회 - 위에서 조회한 결과에 추가 정보(상표, 셀프여부 등) 조회 (중복제거-drop_duplicates)

In [ ]:
# 휘발유 저렴한 주유소의 상위 5개의 상호, 주소, 상표, 셀프여부,  조회 - 위에서 조회한 결과에 추가 정보(상표, 셀프여부 등) 조회 (중복제거-drop_duplicates)

In [ ]:
# 고급 휘발유를 가장 많이 파는 구 조회

In [ ]:
###############################################################################
# 주유소 가격 데이터를 이용해서 알고 싶은 정보들을 추가 분석해 보세요.
###############################################################################